@mixin gridGenerator($selector: ".") {
  #{$selector}d-grid {
    display: grid;
  }
  #{$selector}grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  #{$selector}grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  #{$selector}grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  #{$selector}grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  #{$selector}grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
  #{$selector}grid-cols-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
  #{$selector}grid-cols-7 {
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }
  #{$selector}grid-cols-8 {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }
  #{$selector}grid-cols-9 {
    grid-template-columns: repeat(9, minmax(0, 1fr));
  }
  #{$selector}grid-cols-10 {
    grid-template-columns: repeat(10, minmax(0, 1fr));
  }
  #{$selector}grid-cols-11 {
    grid-template-columns: repeat(11, minmax(0, 1fr));
  }
  #{$selector}grid-cols-12 {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
  #{$selector}grid-cols-none {
    grid-template-columns: none;
  }
  #{$selector}grid-rows-1 {
    grid-template-rows: repeat(1, minmax(0, 1fr));
  }
  #{$selector}grid-rows-2 {
    grid-template-rows: repeat(2, minmax(0, 1fr));
  }
  #{$selector}grid-rows-3 {
    grid-template-rows: repeat(3, minmax(0, 1fr));
  }
  #{$selector}grid-rows-4 {
    grid-template-rows: repeat(4, minmax(0, 1fr));
  }
  #{$selector}grid-rows-5 {
    grid-template-rows: repeat(5, minmax(0, 1fr));
  }
  #{$selector}grid-rows-6 {
    grid-template-rows: repeat(6, minmax(0, 1fr));
  }
  #{$selector}grid-rows-none {
    grid-template-rows: none;
  }
  #{$selector}col-auto {
    grid-column: auto;
  }
  #{$selector}col-span-1 {
    grid-column: span 1 / span 1;
  }
  #{$selector}col-span-2 {
    grid-column: span 2 / span 2;
  }
  #{$selector}col-span-3 {
    grid-column: span 3 / span 3;
  }
  #{$selector}col-span-4 {
    grid-column: span 4 / span 4;
  }
  #{$selector}col-span-5 {
    grid-column: span 5 / span 5;
  }
  #{$selector}col-span-6 {
    grid-column: span 6 / span 6;
  }
  #{$selector}col-span-7 {
    grid-column: span 7 / span 7;
  }
  #{$selector}col-span-8 {
    grid-column: span 8 / span 8;
  }
  #{$selector}col-span-9 {
    grid-column: span 9 / span 9;
  }
  #{$selector}col-span-10 {
    grid-column: span 10 / span 10;
  }
  #{$selector}col-span-11 {
    grid-column: span 11 / span 11;
  }
  #{$selector}col-span-12 {
    grid-column: span 12 / span 12;
  }
  #{$selector}col-span-full {
    grid-column: 1 / -1;
  }
  #{$selector}col-start-1 {
    grid-column-start: 1;
  }
  #{$selector}col-start-2 {
    grid-column-start: 2;
  }
  #{$selector}col-start-3 {
    grid-column-start: 3;
  }
  #{$selector}col-start-4 {
    grid-column-start: 4;
  }
  #{$selector}col-start-5 {
    grid-column-start: 5;
  }
  #{$selector}col-start-6 {
    grid-column-start: 6;
  }
  #{$selector}col-start-7 {
    grid-column-start: 7;
  }
  #{$selector}col-start-8 {
    grid-column-start: 8;
  }
  #{$selector}col-start-9 {
    grid-column-start: 9;
  }
  #{$selector}col-start-10 {
    grid-column-start: 10;
  }
  #{$selector}col-start-11 {
    grid-column-start: 11;
  }
  #{$selector}col-start-12 {
    grid-column-start: 12;
  }
  #{$selector}col-start-13 {
    grid-column-start: 13;
  }
  #{$selector}col-start-auto {
    grid-column-start: auto;
  }
  #{$selector}col-end-1 {
    grid-column-end: 1;
  }
  #{$selector}col-end-2 {
    grid-column-end: 2;
  }
  #{$selector}col-end-3 {
    grid-column-end: 3;
  }
  #{$selector}col-end-4 {
    grid-column-end: 4;
  }
  #{$selector}col-end-5 {
    grid-column-end: 5;
  }
  #{$selector}col-end-6 {
    grid-column-end: 6;
  }
  #{$selector}col-end-7 {
    grid-column-end: 7;
  }
  #{$selector}col-end-8 {
    grid-column-end: 8;
  }
  #{$selector}col-end-9 {
    grid-column-end: 9;
  }
  #{$selector}col-end-10 {
    grid-column-end: 10;
  }
  #{$selector}col-end-11 {
    grid-column-end: 11;
  }
  #{$selector}col-end-12 {
    grid-column-end: 12;
  }
  #{$selector}col-end-13 {
    grid-column-end: 13;
  }
  #{$selector}col-end-auto {
    grid-column-end: auto;
  }
  
  #{$selector}row-auto {
    grid-row: auto;
  }
  #{$selector}row-span-1 {
    grid-row: span 1 / span 1;
  }
  #{$selector}row-span-2 {
    grid-row: span 2 / span 2;
  }
  #{$selector}row-span-3 {
    grid-row: span 3 / span 3;
  }
  #{$selector}row-span-4 {
    grid-row: span 4 / span 4;
  }
  #{$selector}row-span-5 {
    grid-row: span 5 / span 5;
  }
  #{$selector}row-span-6 {
    grid-row: span 6 / span 6;
  }
  #{$selector}row-span-full {
    grid-row: 1 / -1;
  }
  #{$selector}row-start-1 {
    grid-row-start: 1;
  }
  #{$selector}row-start-2 {
    grid-row-start: 2;
  }
  #{$selector}row-start-3 {
    grid-row-start: 3;
  }
  #{$selector}row-start-4 {
    grid-row-start: 4;
  }
  #{$selector}row-start-5 {
    grid-row-start: 5;
  }
  #{$selector}row-start-6 {
    grid-row-start: 6;
  }
  #{$selector}row-start-7 {
    grid-row-start: 7;
  }
  #{$selector}row-start-auto {
    grid-row-start: auto;
  }
  #{$selector}row-end-1 {
    grid-row-end: 1;
  }
  #{$selector}row-end-2 {
    grid-row-end: 2;
  }
  #{$selector}row-end-3 {
    grid-row-end: 3;
  }
  #{$selector}row-end-4 {
    grid-row-end: 4;
  }
  #{$selector}row-end-5 {
    grid-row-end: 5;
  }
  #{$selector}row-end-6 {
    grid-row-end: 6;
  }
  #{$selector}row-end-7 {
    grid-row-end: 7;
  }
  #{$selector}row-end-auto {
    grid-row-end: auto;
  }
  
  #{$selector}grid-flow-row {
    grid-auto-flow: row;
  }
  #{$selector}grid-flow-col {
    grid-auto-flow: column;
  }
  #{$selector}grid-flow-row-dense {
    grid-auto-flow: row dense;
  }
  #{$selector}grid-flow-col-dense {
    grid-auto-flow: column dense;
  }
  
  #{$selector}auto-cols-auto {
    grid-auto-columns: auto;
  }
  #{$selector}auto-cols-min {
    grid-auto-columns: min-content;
  }
  #{$selector}auto-cols-max {
    grid-auto-columns: max-content;
  }
  #{$selector}auto-cols-fr {
    grid-auto-columns: minmax(0, 1fr);
  }
  
  #{$selector}auto-rows-auto {
    grid-auto-rows: auto;
  }
  #{$selector}auto-rows-min {
    grid-auto-rows: min-content;
  }
  #{$selector}auto-rows-max {
    grid-auto-rows: max-content;
  }
  #{$selector}auto-rows-fr {
    grid-auto-rows: minmax(0, 1fr);
  }
  
}