@import "mixin";

$warning: #ffc107;
$link-decoration: none;
$link-color: black;
$input-focus-border-color: #d4d7db;
$carousel-indicator-width: 6px;
$carousel-indicator-height: 6px;
$carousel-indicator-active-bg: black;
@import "~bootstrap/scss/bootstrap.scss";
@include firstSetup();

.carousel-indicators button {
  border-radius: 100% !important;
}
.bg-book-product {
  background: linear-gradient(
    270deg,
    #f2f2f2 -8.93%,
    #f2f2f2 -8.92%,
    #cccccc 114.03%
  );
}
.cursor-grab {
  cursor: grab;
}
.cursor-grabbing {
  cursor: grabbing;
}
.book-shadow {
  box-shadow: 0px 4px 8px 0px #0000000d;
}

.list-style-none {
  list-style: none;
}
.bg-neutral-50 {
  background-color: #fdfdfe;
}
input:focus {
  box-shadow: none !important;
  // border-color: #d4d7db;
}
.border-neutral-50 {
  border-color: #fdfdfe;
}
.text-neutral-50 {
  color: #fdfdfe;
}
.auth-content {
  width: 450px;
  @media (max-width: 576px) {
    width: unset;
  }
  @media (min-width: 576px) {
  }

  .auth-title {
    color: #2a384c;
    @media (min-width: 576px) {
      padding-bottom: 80px;
    }
    @media (max-width: 576px) {
      padding-bottom: 24px;
      margin-bottom: 0;
    }
  }

  .or-content {
    margin-bottom: 33px;
  }
}

.auth-content-width {
  @media (min-width: 576px) {
    width: 438px;
  }
}

.rounded-circle {
  border-radius: 100%;
}

a:hover {
  color: $warning;
  text-decoration: none;
}

.register-title {
  @media (max-width: 576px) {
    padding-top: 66px;
    padding-bottom: 24px;
  }
  @media (min-width: 576px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.cursor-pointer {
  cursor: pointer;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.rectangle {
  height: 1px;
  width: 100%;
  background-color: #e1e9f3;
}
.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}
.h-screen {
  height: 100vh;
}
.text-decoration-none {
  text-decoration: none !important;
}
.border-right-none {
  border-right: none !important;
}
.border-left-none {
  border-left: none !important;
}

.btn-rounded {
  border-radius: 10px 10px !important;
}
//input.form-check-input:checked {
.form-check-input:checked {
  background-color: $warning !important;
  border-color: $warning !important;
}
.form-check-input {
  border-color: black !important;
}
.bordered {
  border-color: black;
}
.input-group {
  border-radius: 50px !important;
}
.input-icon-rounded {
  .input-group-text {
    border-radius: 10px 10px;
  }
  input {
    border-radius: 10px 10px;
  }
}

@media (max-height: 442px) {
  .img-carousel {
    width: 50%;
  }
}

.rounded-8 {
  border-radius: 8px 8px !important;
}

.rounded-full {
  border-radius: 100%;
}
