$neutralColor: #d4d7db, #aaafb7, #7f8894, #556070, #2a384c, #202a39, #151c26,
  #0b0e13, #040608, #000000;
$neutralCode: "neutral";

$primaryColor: #fff9ed, #fee5b5, #fed991, #fdcc6c, #fdbf47;
$primaryCode: "primary";

$warningColor: #fff5e6, #ffd699, #ffc266, #ffad33, #ff9900;
$warningCode: "warning";

$successColor: #f4fbfe, #d2ecf8, #bbe2f5, #a5d9f1, #8ecfee;
$successCode: "success";

$dangerColor: #fcebed, #f1aeb5, #ea868f, #e35d6a, #dc3545;
$dangerCode: "danger";

$infoColor: #f4fefb, #d2f8ed, #bbf5e3, #a5f1da, #8eeed1;
$infoCode: "info";

$secondaryColor: #fdfdfe, #f3f6fa, #edf2f8, #e7edf5, #e1e9f3;
$secondaryCode: "secondary";
